# dependencias
/node_modules
/.pnp
.pnp.*

# build
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# ambiente
.env
.env.local
.env*.local

# testes e cobertura
/coverage

# sistema
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# deploy
.vercel

.vercel
.env*
